* {
    margin: 0;
    text-align: center;


}

.header {
    width: 100%;
    height: 150px;
    background-color: #CE2829;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.navLink {
    background-color: #CE2829;

}

.navLink a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.zorunlu {
    color: #CE2829;
}